#wrapper {
    width: 100%;
    padding-bottom: 2vh;
}

#resume-top-bar {
    width: 100%;
    min-height: 20vh;
    margin-bottom: 5vh;
}

#header-text-box {
    width: 80%;
    margin: 0 auto;
}

.text-header {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 6vw;
    color: black;
}

#download-button {
    background-color: #e2725b;
    color: white;
}

#full-resume {
    width: 80%;
    margin: 0 auto;
}

.section-marker {
    margin-top: 3vh;
}

.section-header {
    font-size: 2vw;
}

#lists-box {
    font-weight: bold;
    padding-left: 20px;
    font-size: 1rem;
}

@media all and (max-width: 1000px) {
    .section-header {
        font-size: 3vh;
    }
}

@media all and (max-width: 600px) {

    #resume-top-bar {
        position:relative;
        width: 100%;
        min-height: 120px;
        margin-bottom: 5vh;
    }

    .text-header {
        font-size: 60px;
    }

    .text-description {
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Jost', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell'
    }


    .section-header {
        font-size: 7vw;
    }

}