#contact-text-box {
    width: 80%;
}

#contact-box {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2vh;
}

.descript-box {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vh;
}

#contact-description {
    font-size: 4vh;
    font-weight: bold;
}

#contact-text {
    font-size: 16px;
}

#email-col {
    margin-bottom: 4vh;
}

#email-header {
    font-size: 3vh;
    font-weight: bold;
}

#email {
    font-size: 2.5vh;
    color: #212529;
}

#contact-form {
    width: 100%;
    margin: 0 auto;
    margin-top: 5vh;
}

#confirmation-success {
    margin-top: 5vh;
    padding: 5vh;
    background:#98FB98;
    text-align: center;
    border-radius: 25px;
}

#confirmation-error {
    margin-top: 5vh;
    padding: 5vh;
    background: #FFFF99;
    text-align: center;
    border-radius: 25px;
}

.submitButton {
    float: left;
    margin-bottom: 5vh;
}

@media all and (max-width: 600px) {
    #contact-form {
        width: 100%;
        margin-top: 5vh;
    }

    .submitButton {
        width: 100%;
    }

    .descript-box {
        width: 80%;
    }

    #connect {
        margin-bottom: 3vh;
    }

    #contact-description {
        font-size: 28px;
    }

    #email-header, #email {
        font-size: 20px;
    }

    #email-col {
        margin-bottom: 2vh;
    }
}