#contact-form {
    width: 80%;
    margin: 0 auto;
}

#confirmation-success {
    margin-top: 5vh;
    padding: 5vh;
    background:#98FB98;
    text-align: center;
    border-radius: 25px;
}

#confirmation-error {
    margin-top: 5vh;
    padding: 5vh;
    background: #FFFF99;
    text-align: center;
    border-radius: 25px;
}

.submitButton {
    float: left;
    margin-bottom: 5vh;
}

@media all and (max-width: 600px) {
    #contact-form {
        width: 90%;
    }

    .submitButton {
        width: 100%;
    }
}