#large-images {
    width: 100%;
    padding-top: 0vh;
    position: relative;
}

#name-header {
    font-size: 8vw;
    color: white;
    position: absolute;  
    left: 50%;                        
    top: 40%;                         
    transform: translate(-50%, -50%);
}

#headliner {
    text-align: center;
    font-size: 2vw;
    color: white;
    position: absolute;  
    left: 50%;                        
    top: 48%;                         
    transform: translate(-50%, -50%);
}

@media all and (max-width: 500px) {
    #large-images {
        height: 80vh;
    }

    #name-header {
        top: 40%;
    }

    #headliner {
        top: 46%;
        font-size: 3vw;
    }
}