#about-box {
    width: 100%;
    background-color: #a7c6cb;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#page-header {
    font-size: 5vw;
    text-align: center;
}

#text-box {
    width: 80%;
    margin: 0 auto;
}

#about-pic {
    width: 40%;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

@media all and (max-width: 500px) {
    #page-header {
        order: 1;
        font-size: 9vw;
    }

    #about-pic {
        order: 2;
        width: 100%;
    }

}