#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#brand {
    color: #ffffff;
    font-size: 32px;
    text-align: left;
    display: block;
    margin-bottom: 50px;
}

.text-col {
    text-align: left;
    font-size: 17px;
    display: block;
}

.nav-link {
    display: block;
}

.underline {
    text-decoration: underline;
    color: #A8A6A2;
}




