#project-text-box {
    width: 80%;
}

#project-box {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2vh;
}

.card-title {
    color: #212529;
}

.sub-projHeader {
    font-size: 5vh;
    font-weight: 400;
}

.card-deck {
    margin-top: 2vh;
}

.proj-card {
    max-width: 16rem;
}

@media all and (max-width: 700px) {
    .proj-card {
        max-width: unset;
    }
}